body {
    margin: 0;
    background-color: black;
    position: relative;
    padding-bottom: 3em;
    min-height: 150vh;
}

header {
    background-color: black;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Sigmar', cursive;
    font-weight: bold;
}

.subtituloblack {
    background-color: black;
}

h2 {
    text-align: center;
    color: white;
    font-weight: bold;
}

h3 {
    color: white;
}

nav {
    background-color: black;
}

.nav-enlace {
    background-color: black;
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    justify-content: space-between;
    display: flex;


}

/* main index */
.main-index {
    background-image: url(../assets/imagenes/index.jpg);
    background-position: center;
    width: 100%;
    height: 1800px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* main horario */

.container.horarios {
    background-image: url(../assets/imagenes/horarios.jpg);
    background-position: center;
    width: 100%;
    height: 1800px;
    background-size: cover;
    background-repeat: no-repeat;

}

/* main conocenos */
.container {
    background-image: url(../assets/imagenes/conocenos.jpg);
    background-position: center;
    width: 100%;
    height: 1800px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* main contacto */
.contactom {
    background-image: url(../assets/imagenes/contaco.jpg);
    background-position: center;
    width: 100%;
    height: 1800px;
    background-size: cover;
    background-repeat: no-repeat;

}

/* main planes */
.planesm {
    background-image: url(../assets/imagenes/planes.jpg);
    background-position: center;
    width: 100%;
    height: 1800px;
    background-size: cover;
    background-repeat: no-repeat;
}


.entrenaconnosotros {
    text-align: left;
}

.experiencia {
    text-align: right;
}

p {
    color: white;
}

footer {

    background-color: black;
    display: flex;
    justify-content: center
}


iframe {
    width: 100px;
    height: 100px;
}


/* footer de contacto */
.contactofooter {
    justify-content: space-around;
    flex-direction: row;
}
